

/* ===== VARIABLES ===== */


/* ===== RESET ===== */
* {
  font-family: var(--font-principal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== CONTENEDOR CENTRADO ===== */
.contenedor {
  max-width: var(--max-width-contenedor);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* ===== HEADER ===== */





/* ===== RESPONSIVE ===== */
@media (max-width: 800px) {
  .header__link:not(:last-of-type) {
    display: none;
  }

  .header__boton:last-of-type {
    display: inline-block;
  }

  .header__boton:nth-last-of-type(2) {
    display: none;
  }

  .boletin {
    max-width: 100%;
    border-radius: 0;
    background-color: var(--color-fondo-claro);
    box-shadow: none;
    padding: 30px;
    margin: 0;
  }

  .footer-columnas {
    flex-direction: column;
    align-items: center;
  }

  .footer-columna {
    width: 100%;
    text-align: center;
  }
}